<div class=" mt-3 mb-3">
    <div class="row">
        <div class="col p-3 border-left border-secondary">
            <div class="tab-content">
                <div class="container">
                   <div class="jumbotron">
                       <div class="text-center">
                           <h1 class="">
                               WELCOME TO BOOK REVIEW
                           </h1>
                       </div>
                   </div>
                   <div class="jumbotron">
                       <div class="container">
                           <h4 class="text">
                               ABOUT THIS WEBSITE
                           </h4>
                           <p class="text">
                                Here, you can view books, add, review and rate them.<br>
                                Note: Only Registered users can add, review, and rate a book.<br>
                                Others can only view the books.
                           </p>
                       </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
